body {
	max-width: 600px;
	display: block;
	margin: 0 auto;
}

.weather-app {
	margin-top: 30px;
	border: 3px solid rgba(0, 0, 0, 0.96);
	border-radius: 7px;
	background: black;
}

.current-geo-btn {
	color: #ffffff;
	border: 0px solid #b9b9b9cc;
	border-radius: 5px;
	background-color: #3c3b3ccc;
	margin: 20px 10px;
	width: 32%;
	line-height: 200%;
}
.type-city-form {
	border: 1px solid #a5a5a5cc;
	border-radius: 4px;
	margin: 0 0 0px 10px;
	width: 70%;
	padding-left: 8px;
}

.type-city-form:focus-within {
	background: #ffffffcc;
	color: rgb(255, 255, 255);
	outline: none;
}

.search-btn {
	color: #979497cc;
	font-weight: bold;
	background-color: white;
	border: 1px solid #000000cc;
	border-radius: 4px;
	width: 26%;
	margin-right: 0px;
}

.search-btn:hover {
	background-color: #474647cc;
}
h1 {
	margin-left: 10px;
  color: white;
	font-size: 50px;
}

.weather-metrics {
	list-style: none;
	margin-left: 10px;
	margin-bottom: 0px;
	padding-left: 0px;
	font-size: 13px;
  color: white;
}

.city-flex {
	padding-top: 13px;
	display: flex;
	align-items: left;
	flex-direction: column;
}
.base-temp-block {
	margin: 17px 15px 17px;
}
.weather-temperature {
	text-align: right;
  color: white;
}
.weather-temperature img {
	margin-right: 5px;
	height: 64px;
	width: 64px;
	position: relative;
	bottom: 30px;
}

.base-temperature {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 100px;


	font-weight: 200px;
}

.celsius,
.farenheit {
	position: relative;
	top: -59px;
	font-size: 16px;
	text-decoration: none;
}

.forecast {
	text-align: center;
}

.night-degree {
	color: rgb(255, 255, 255);
}

.weather-temperature .active {
	color: rgb(255, 255, 255);
	cursor: default;
	text-decoration: none;
}

.weather-forecast {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 15px;
}

.weather-forecast-date {
	font-size: 16px;
	color: rgb(255, 255, 255);
	
}

.weather-forecast-temp-min {
	color: white;
	
}

.git {
	color: rgb(255, 255, 255);
}
@media screen and (max-width:736px) {

}